// Colors

$Orange: hsl(25, 97%, 53%);

$White: hsl(0, 0%, 100%);
$LightGrey: hsl(217, 12%, 63%);
$MediumGrey: hsl(216, 12%, 54%, 0.18);
$DarkBlue: hsl(213, 19%, 18%, 0.6);
$VeryDarkBlue: hsl(216, 12%, 8%);

// Font size

$font-p: 0.9375rem; // 15px